<form class="log" method="GET" action="">
    <input name="id" type="text"  id="tx "placeholder="ID"/>
    <input name="name" type="text" placeholder="Наименование"/>
    <input name="tale" type="text" placeholder="Описание"/>
    <input name="price" type="text" placeholder="Цена"/>
    <input  class="botton" type="submit" name="add" value="Добавить"/>
    <input  class="botton" type="submit" name="delete" value="Удалить"/>
</form>


