
<form class="log" action="/" method="POST">
    <label> Найти по ID:
        <input name="id" type="text" placeholder="Введите ID">
    </label>
    <input class="botton" type="submit" value="Найти">
</form>

<form class="log" action="/" method="POST">
    <label> Найти по цене:
        <input name="price" type="text" placeholder="Цена ес че в числах">
    </label>
    <input class="botton" type="submit" value="Найти">
</form>
<br>

